@import "settings";
@import "foundation";


$header-h1: #353533;
$base-grey: #2a2a2a;
$sidebar-grey: #1d1d1d;
$primary-blue: #73afb7;
$meter-blue: #7caeb5;
$notifications-pink: #8b5854;
$notifications-pink-font: #e191aa;
$more-info-green: #7db97b;

$meter-green: #76b78c;
$meter-yellow: #b2b87a;
$meter-red: #b67a79;






@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebasneue/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
	background: $base-grey;
	color: #fff;
	height: 100%;
	max-height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.grid-frame {
	height: 100%;
}
.grid-content {
	
	height: 70%;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $base-grey;
}

.header {
	height: 300px;
	background: url('../../images/banner.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .top-bar {
  	float: right;
  	background: transparent;
  	margin-right: 40px;

  	li {
  		background: transparent;
  	}

  	a {
  		background: #6a8282 !important;
  		opacity: .8;

  		&:hover {
  			background: darken(#6a8282, 10%) !important;
  		}
  	}
  }

  .header_info {
  	width: 100%;
  	max-width: 100%;
  	padding-top: 45px;

  	h1 {
  		text-align: right;
  		font-weight: bold;
  		font-size: 4em;
  		border-bottom: 2px solid $header-h1;
  		line-height: 1em;
  		border-bottom: 1px solid #353533;
  		font-family: 'bebas_neuebold';
  		color: $header-h1;
  	}

  	.header_description {
  		padding-left: 200px;
  		color: black;
  		font-size: 11px;
  	}
  }
}
#main-content {
	height: 100%;
	.max_width_row {
		max-width: 100%;
		height: 100%;
	}
}
.form_sidebar {
	background: $sidebar-grey;
	font-family: 'bebas_neue_regularregular';
	height: 100%;
	border-right: 2px solid #000;
	padding: 0;

	.loan_list {
		margin: 0;

		list-style-type: none;
		li {
			padding: 10px 15px 10px 20px;
			&:hover {
				background: black;
			}
			
		}
		li.active {
			background: black;
			border-right: 2px solid $primary-blue;
		}

		.form-icon {
			width: 15px;
			margin-right: 20px;
			vertical-align: middle;
			margin-top: -3px;
		}
		a {
			color: white;
			width: 100%;
			display: block;
			font-size: 1em;
			&:hover {
				background: black;
			}
		}
	}

}

.form_section {
	padding: 0;
	height: 100%;
	overflow-y: auto;

	.form_section_tools {
		width: 50px;
		height: 100%;
		background: $sidebar-grey;
		float: left;
		ul {
			margin: 0;
			list-style-type: none;

			li {
				padding: 10px;
				text-align: center;
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
			li.active {
				background: $base-grey;
			}

			.tools-icon {

			}
		}
	}

	.form_section_main {
		margin-left: 50px;
		margin-right: 20px;

		.form_section_header {
			margin-left: 15px;

			border-bottom: 3px solid #b8b8b8;

			h1 {
				color: $primary-blue;
				font-weight: 200;
				display: inline-block;
				margin: 0;
				font-family: 'bebas_neue_regularregular';
			}

			.section_links {
				float:right;
				margin: 25px 0 0 0;
				font-size: 10px;
				list-style-type: none;	
				display: inline;
				li {
					display: inline-block;
					padding: 5px;

					a {
						color: white;
						&:hover {
							font-weight: bold;

						}
					}
					
				}
			}	

		}

		.form_section_content {
			padding-top: 20px;
			margin-left: 20px;

			label {
				color: #fff;
			}

			.form_input {
				display: block;
			    width: 350px;
			    max-width: 100%;
			    height: 34px;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #fff;
			    background-color: transparent;
			    background-image: none;
			    border: 1px solid #ccc;
			    border-radius: 4px;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			}

			h2 {
				color: $primary-blue;
				font-family: 'bebas_neuelight';
			}
		}

	}
	


	
}

.right_sidebar {
	height: 100%;
	max-height: 100%;
	background: $sidebar-grey;
	padding:20px 0 0 0;
	overflow-y: auto;


	.notifications {
		padding: 10px;
		margin: 10px;
		margin-bottom: 15px;
		background: black;
		color: $notifications-pink-font;
		
		border-left: 3px solid $notifications-pink;
		.notifications_list {
			list-style-type: none;
			margin: 0;
			
			li {
				font-size: 12px;
			}
		}
	}

	.progress_section {
		margin: 10px;
		padding: 10px;
		font-size: 12px;
		margin-bottom: 15px;
		background: black;
		border-left: 3px solid $primary-blue;

		.progress {
			margin-top: 3px;
			background: transparent;
			height: 3px;
			padding: 0;
			border: 0;

			.meter {
				&:after {
					content:"";
					background-color: #fff;

					width: 6px;
				    height: 6px;
				    margin-right: -4px;
				    margin-top: -2px;
				    border-radius: 3px;
				    float: right;
				}
			}

			.meter-green {
				background-color: $meter-green;

				&:after {
					background-color: $meter-green;	    
				}
			}
			.meter-yellow {
				background-color: $meter-yellow;

				&:after {
					background-color: $meter-yellow;
				}
			}

			.meter-red {
				background-color: $meter-red;

				&:after {
					background-color: $meter-red;
				}
			}
		}
	}

	.more_info {
		margin: 10px;
		padding: 10px;
		font-size: 12px;
		margin-bottom: 15px;
		background: black;
		border-left: 3px solid $more-info-green;
	}

}
